*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
data/
data
argument/
scripts/
*.sh 
.ply
/assets/
/output1/
/output_k16xyz/
/output2/
/output_k16sr/
